h2 {
  font-weight: bolder;
  color: #155e99;
  font-size: 500%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 70px;
}

p {
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
}

#wrapper {
  width: 680px;
  display: table;
  margin: auto;
}
#wrapper > div {
  display: inline-block;
}
.road {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 3%;
}

hr {
  margin: 4px;
  border: none;
  border-top: 8px dashed black;
  color: #fff;
  background-color: #fff;
  height: 4px;
  width: 50%;
}
