<h2>A bit about us</h2>
<p>
  We are an early-stage startup founded with a vision to leave no one behind.
</p>

<div>
  <mat-card class="example-card">
    <img mat-card-image src="assets/photos/DSC06932k.jpg" alt="Photo of Tala" />
    <mat-card-header>
      <mat-card-title>Tala Azrak</mat-card-title>
      <mat-card-subtitle>Founder & CEO</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LinkedIn</button>
      <button mat-button>Email</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <img mat-card-image src="assets/photos/DSC06932k.jpg" alt="Photo of Tala" />

    <mat-card-header>
      <mat-card-title>Tala Azrak</mat-card-title>
      <mat-card-subtitle>Founder & CEO</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LinkedIn</button>
      <button mat-button>Email</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <img mat-card-image src="assets/photos/DSC06932k.jpg" alt="Photo of Tala" />

    <mat-card-header>
      <mat-card-title>Tala Azrak</mat-card-title>
      <mat-card-subtitle>Founder & CEO</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LinkedIn</button>
      <button mat-button>Email</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <img mat-card-image src="assets/photos/DSC06932k.jpg" alt="Photo of Tala" />

    <mat-card-header>
      <mat-card-title>Tala Azrak</mat-card-title>
      <mat-card-subtitle>Founder & CEO</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LinkedIn</button>
      <button mat-button>Email</button>
    </mat-card-actions>
  </mat-card>
  <div></div>
</div>
