<h2>A bit about us</h2>
<p>
  We are an early-stage startup founded with a vision to leave no one behind.
</p>
<div class="layout-row">
  <!--Tala card-->
  <mat-card class="example-card">
    <img
      class="img-card"
      mat-card-image
      src="assets/photos/DSC06932k.jpg"
      alt="Photo of Tala"
    />

    <mat-card-header class="header-card">
      <mat-card-title class="header-card">Tala Azrak</mat-card-title>
      <mat-card-subtitle class="header-card">Founder & CEO</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button
        class="btn-card"
        mat-icon-button
        aria-label="LinkedIn icon-button with LinkedIn icon"
      >
        <a
          class="circle-link"
          title="Join the Conversation on Discord"
          href="https://www.linkedin.com/in/tala-azrak-597226107/"
          target="_blank"
          rel="noopener"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            role="img"
            style="vertical-align: -0.125em"
            width="32"
            height="32"
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 24 24"
          >
            <path
              d="M20.47 2H3.53a1.45 1.45 0 0 0-1.47 1.43v17.14A1.45 1.45 0 0 0 3.53 22h16.94a1.45 1.45 0 0 0 1.47-1.43V3.43A1.45 1.45 0 0 0 20.47 2zM8.09 18.74h-3v-9h3zM6.59 8.48a1.56 1.56 0 1 1 0-3.12a1.57 1.57 0 1 1 0 3.12zm12.32 10.26h-3v-4.83c0-1.21-.43-2-1.52-2A1.65 1.65 0 0 0 12.85 13a2 2 0 0 0-.1.73v5h-3v-9h3V11a3 3 0 0 1 2.71-1.5c2 0 3.45 1.29 3.45 4.06z"
              fill="#2867b2"
            />
          </svg>
        </a>
      </button>
    </mat-card-actions>
  </mat-card>

  <!--Hadi card-->

  <mat-card class="example-card">
    <img
      class="img-card"
      mat-card-image
      src="assets/photos/hadi.jpg"
      alt="Photo of Tala"
    />

    <mat-card-header>
      <mat-card-title>Hadi Horani </mat-card-title>
      <mat-card-subtitle>CTO</mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions>
      <button
        mat-icon-button
        aria-label="LinkedIn icon-button with LinkedIn icon"
      >
        <a
          class="circle-link"
          title="Join the Conversation on Discord"
          href="https://www.linkedin.com/in/hadi-horani-4754a714b/"
          target="_blank"
          rel="noopener"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            role="img"
            style="vertical-align: -0.125em"
            width="32"
            height="32"
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 24 24"
          >
            <path
              d="M20.47 2H3.53a1.45 1.45 0 0 0-1.47 1.43v17.14A1.45 1.45 0 0 0 3.53 22h16.94a1.45 1.45 0 0 0 1.47-1.43V3.43A1.45 1.45 0 0 0 20.47 2zM8.09 18.74h-3v-9h3zM6.59 8.48a1.56 1.56 0 1 1 0-3.12a1.57 1.57 0 1 1 0 3.12zm12.32 10.26h-3v-4.83c0-1.21-.43-2-1.52-2A1.65 1.65 0 0 0 12.85 13a2 2 0 0 0-.1.73v5h-3v-9h3V11a3 3 0 0 1 2.71-1.5c2 0 3.45 1.29 3.45 4.06z"
              fill="#2867b2"
            />
          </svg>
        </a>
      </button>
    </mat-card-actions>
  </mat-card>

  <!--Francesco card-->

  <mat-card class="example-card">
    <img
      class="img-card"
      mat-card-image
      src="assets/photos/fran.jpg"
      alt="Photo of Tala"
    />

    <mat-card-header>
      <mat-card-title>Francesco Rosati</mat-card-title>
      <mat-card-subtitle>Advisory board member</mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions>
      <button
        mat-icon-button
        aria-label="LinkedIn icon-button with LinkedIn icon"
      >
        <a
          class="circle-link"
          title="Join the Conversation on Discord"
          href="https://www.linkedin.com/in/rosatifrancesco/"
          target="_blank"
          rel="noopener"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            role="img"
            style="vertical-align: -0.125em"
            width="32"
            height="32"
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 24 24"
          >
            <path
              d="M20.47 2H3.53a1.45 1.45 0 0 0-1.47 1.43v17.14A1.45 1.45 0 0 0 3.53 22h16.94a1.45 1.45 0 0 0 1.47-1.43V3.43A1.45 1.45 0 0 0 20.47 2zM8.09 18.74h-3v-9h3zM6.59 8.48a1.56 1.56 0 1 1 0-3.12a1.57 1.57 0 1 1 0 3.12zm12.32 10.26h-3v-4.83c0-1.21-.43-2-1.52-2A1.65 1.65 0 0 0 12.85 13a2 2 0 0 0-.1.73v5h-3v-9h3V11a3 3 0 0 1 2.71-1.5c2 0 3.45 1.29 3.45 4.06z"
              fill="#2867b2"
            />
          </svg>
        </a>
      </button>
    </mat-card-actions>
  </mat-card>

  <!--Emilie card-->

  <mat-card class="example-card">
    <img
      class="img-card"
      mat-card-image
      src="assets/photos/emilie.jpg"
      alt="Photo of Tala"
    />

    <mat-card-header>
      <mat-card-title>Emilie Brøndum Reeh </mat-card-title>
      <mat-card-subtitle>COO</mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions>
      <button
        mat-icon-button
        aria-label="LinkedIn icon-button with LinkedIn icon"
      >
        <a
          class="circle-link"
          title="Join the Conversation on Discord"
          href="https://www.linkedin.com/in/emilie-brondum-reeh-8335859a/"
          target="_blank"
          rel="noopener"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            role="img"
            style="vertical-align: -0.125em"
            width="32"
            height="32"
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 24 24"
          >
            <path
              d="M20.47 2H3.53a1.45 1.45 0 0 0-1.47 1.43v17.14A1.45 1.45 0 0 0 3.53 22h16.94a1.45 1.45 0 0 0 1.47-1.43V3.43A1.45 1.45 0 0 0 20.47 2zM8.09 18.74h-3v-9h3zM6.59 8.48a1.56 1.56 0 1 1 0-3.12a1.57 1.57 0 1 1 0 3.12zm12.32 10.26h-3v-4.83c0-1.21-.43-2-1.52-2A1.65 1.65 0 0 0 12.85 13a2 2 0 0 0-.1.73v5h-3v-9h3V11a3 3 0 0 1 2.71-1.5c2 0 3.45 1.29 3.45 4.06z"
              fill="#2867b2"
            />
          </svg>
        </a>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
