.example-card {
  width: 300px;
  height: 350px;
  margin: 2%;
}
.img-card {
  width: 300px+2%;
  height: 200px;
}

div {
  display: flex;
  flex-direction: row;
}

.btn-card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.header-card {
  text-align: center;
}
h2 {
  font-weight: bold;
  font-style: italic;
  color: #155e99;
}
p {
  font-size: medium;
}
