<section class="course">
  <div class="py-5 team4">
    <div class="container">
      <div class="row justify-content-center mb-3">
        <div class="col-md-7 text-center">
          <h3 class="mb-3">{{ "BODY.TEAM.TITLE" | translate }}</h3>
          <h6 class="subtitle">
            {{ "BODY.TEAM.BODY" | translate }}
          </h6>
        </div>
      </div>
      <div class="row justify-content-center">
        <!-- column  -->
        <div class="col-lg-3 mb-3">
          <!-- Row -->
          <div class="row">
            <div class="col-md-12">
              <img
                src="assets/photos/TalaAzrak.jpg"
                alt="wrapkit"
                class="img-fluid rounded-circle"
              />
            </div>
            <div class="col-md-12 text-center">
              <div class="pt-2">
                <h5 class="mt-3 font-weight-medium mb-0">
                  {{ "BODY.TEAM.MEMBERS.MEMBER1.NAME" | translate }}
                </h5>
                <h6 class="subtitle mb-3">
                  {{ "BODY.TEAM.MEMBERS.MEMBER1.ROLE" | translate }}
                </h6>
                <a
                  title="Tala linkedin"
                  href="https://www.linkedin.com/in/tala-azrak-597226107/"
                  target="_blank"
                  rel="noopener"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                    role="img"
                    style="vertical-align: -0.125em"
                    width="32"
                    height="32"
                    preserveAspectRatio="xMidYMid meet"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M20.47 2H3.53a1.45 1.45 0 0 0-1.47 1.43v17.14A1.45 1.45 0 0 0 3.53 22h16.94a1.45 1.45 0 0 0 1.47-1.43V3.43A1.45 1.45 0 0 0 20.47 2zM8.09 18.74h-3v-9h3zM6.59 8.48a1.56 1.56 0 1 1 0-3.12a1.57 1.57 0 1 1 0 3.12zm12.32 10.26h-3v-4.83c0-1.21-.43-2-1.52-2A1.65 1.65 0 0 0 12.85 13a2 2 0 0 0-.1.73v5h-3v-9h3V11a3 3 0 0 1 2.71-1.5c2 0 3.45 1.29 3.45 4.06z"
                      fill="#2867b2"
                    />
                  </svg>
                </a>
                <a
                  href="https://www.linkedin.com/in/tala-azrak-597226107/"
                  class="text-decoration-none d-block px-1"
                  ><i class="icon-social-facebook"></i
                ></a>
              </div>
            </div>
          </div>
          <!-- Row -->
        </div>
        <!-- column  -->
        <!-- column  -->
        <div class="col-lg-3 mb-4">
          <!-- Row -->
          <div class="row">
            <div class="col-md-12">
              <img
                src="assets/photos/hadi.jpg"
                alt="wrapkit"
                class="img-fluid rounded-circle"
              />
            </div>
            <div class="col-md-12 text-center">
              <div class="pt-2">
                <h5 class="mt-4 font-weight-medium mb-0">
                  {{ "BODY.TEAM.MEMBERS.MEMBER2.NAME" | translate }}
                </h5>
                <h6 class="subtitle mb-3">
                  {{ "BODY.TEAM.MEMBERS.MEMBER2.ROLE" | translate }}
                </h6>
                <a
                  title="Hadi linkedin"
                  href="https://www.linkedin.com/in/hadi-horani-4754a714b/"
                  target="_blank"
                  rel="noopener"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                    role="img"
                    style="vertical-align: -0.125em"
                    width="32"
                    height="32"
                    preserveAspectRatio="xMidYMid meet"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M20.47 2H3.53a1.45 1.45 0 0 0-1.47 1.43v17.14A1.45 1.45 0 0 0 3.53 22h16.94a1.45 1.45 0 0 0 1.47-1.43V3.43A1.45 1.45 0 0 0 20.47 2zM8.09 18.74h-3v-9h3zM6.59 8.48a1.56 1.56 0 1 1 0-3.12a1.57 1.57 0 1 1 0 3.12zm12.32 10.26h-3v-4.83c0-1.21-.43-2-1.52-2A1.65 1.65 0 0 0 12.85 13a2 2 0 0 0-.1.73v5h-3v-9h3V11a3 3 0 0 1 2.71-1.5c2 0 3.45 1.29 3.45 4.06z"
                      fill="#2867b2"
                    />
                  </svg>
                </a>
                <a
                  href="https://www.linkedin.com/in/tala-azrak-597226107/"
                  class="text-decoration-none d-block px-1"
                  ><i class="icon-social-facebook"></i
                ></a>
              </div>
            </div>
          </div>
          <!-- Row -->
        </div>
        <!-- column  -->
        <!-- column  -->
        <div class="col-lg-3 mb-4">
          <!-- Row -->
          <div class="row">
            <div class="col-md-12">
              <img
                src="assets/photos/fran.jpg"
                alt="wrapkit"
                class="img-fluid rounded-circle"
              />
            </div>
            <div class="col-md-12 text-center">
              <div class="pt-2">
                <h5 class="mt-4 font-weight-medium mb-0">
                  {{ "BODY.TEAM.MEMBERS.MEMBER3.NAME" | translate }}
                </h5>
                <h6 class="subtitle mb-3">
                  {{ "BODY.TEAM.MEMBERS.MEMBER3.ROLE" | translate }}
                </h6>
                <a
                  title="Fran linkedin"
                  href="https://www.linkedin.com/in/rosatifrancesco/"
                  target="_blank"
                  rel="noopener"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                    role="img"
                    style="vertical-align: -0.125em"
                    width="32"
                    height="32"
                    preserveAspectRatio="xMidYMid meet"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M20.47 2H3.53a1.45 1.45 0 0 0-1.47 1.43v17.14A1.45 1.45 0 0 0 3.53 22h16.94a1.45 1.45 0 0 0 1.47-1.43V3.43A1.45 1.45 0 0 0 20.47 2zM8.09 18.74h-3v-9h3zM6.59 8.48a1.56 1.56 0 1 1 0-3.12a1.57 1.57 0 1 1 0 3.12zm12.32 10.26h-3v-4.83c0-1.21-.43-2-1.52-2A1.65 1.65 0 0 0 12.85 13a2 2 0 0 0-.1.73v5h-3v-9h3V11a3 3 0 0 1 2.71-1.5c2 0 3.45 1.29 3.45 4.06z"
                      fill="#2867b2"
                    />
                  </svg>
                </a>
                <a
                  href="https://www.linkedin.com/in/tala-azrak-597226107/"
                  class="text-decoration-none d-block px-1"
                  ><i class="icon-social-facebook"></i
                ></a>
              </div>
            </div>
          </div>
          <!-- Row -->
        </div>
        <!-- column  -->
        <!-- column  -->
      </div>
    </div>
  </div>
</section>
