<section class="course">
  <div class="container">
    <h1 class="text-center">{{ "BODY.TEAM.TITLE" | translate }}</h1>
    <p>{{ "BODY.TEAM.BODY" | translate }}</p>
    <div class="row mt-5">
      <div class="col-lg-3 mb-5">
        <div class="box shadow-sm">
          <img src="assets/photos/TalaAzrak.jpg" width="100%" />
          <h4 class="mt-2">
            {{ "BODY.TEAM.MEMBERS.MEMBER1.NAME" | translate }}
          </h4>
          <p clas="mt-2">{{ "BODY.TEAM.MEMBERS.MEMBER1.ROLE" | translate }}</p>
          <button
            class="btn btn-primary btn-sm mt-2"
            mat-icon-button
            aria-label="LinkedIn icon-button with LinkedIn icon"
          >
            <a
              title="Tala linkedin"
              href="https://www.linkedin.com/in/tala-azrak-597226107/"
              target="_blank"
              rel="noopener"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                role="img"
                style="vertical-align: -0.125em"
                width="32"
                height="32"
                preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 24 24"
              >
                <path
                  d="M20.47 2H3.53a1.45 1.45 0 0 0-1.47 1.43v17.14A1.45 1.45 0 0 0 3.53 22h16.94a1.45 1.45 0 0 0 1.47-1.43V3.43A1.45 1.45 0 0 0 20.47 2zM8.09 18.74h-3v-9h3zM6.59 8.48a1.56 1.56 0 1 1 0-3.12a1.57 1.57 0 1 1 0 3.12zm12.32 10.26h-3v-4.83c0-1.21-.43-2-1.52-2A1.65 1.65 0 0 0 12.85 13a2 2 0 0 0-.1.73v5h-3v-9h3V11a3 3 0 0 1 2.71-1.5c2 0 3.45 1.29 3.45 4.06z"
                  fill="#2867b2"
                />
              </svg>
            </a>
          </button>
        </div>
      </div>
      <div class="col-lg-3 mb-5">
        <div class="box shadow-sm">
          <img src="assets/photos/hadi.jpg" width="100%" />
          <h4 class="mt-2">
            {{ "BODY.TEAM.MEMBERS.MEMBER2.NAME" | translate }}
          </h4>
          <p clas="mt-2">{{ "BODY.TEAM.MEMBERS.MEMBER2.ROLE" | translate }}</p>
          <button
            class="btn btn-primary btn-sm mt-2"
            mat-icon-button
            aria-label="LinkedIn icon-button with LinkedIn icon"
          >
            <a
              title="Hadi linkedin"
              href="https://www.linkedin.com/in/hadi-horani-4754a714b/"
              target="_blank"
              rel="noopener"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                role="img"
                style="vertical-align: -0.125em"
                width="32"
                height="32"
                preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 24 24"
              >
                <path
                  d="M20.47 2H3.53a1.45 1.45 0 0 0-1.47 1.43v17.14A1.45 1.45 0 0 0 3.53 22h16.94a1.45 1.45 0 0 0 1.47-1.43V3.43A1.45 1.45 0 0 0 20.47 2zM8.09 18.74h-3v-9h3zM6.59 8.48a1.56 1.56 0 1 1 0-3.12a1.57 1.57 0 1 1 0 3.12zm12.32 10.26h-3v-4.83c0-1.21-.43-2-1.52-2A1.65 1.65 0 0 0 12.85 13a2 2 0 0 0-.1.73v5h-3v-9h3V11a3 3 0 0 1 2.71-1.5c2 0 3.45 1.29 3.45 4.06z"
                  fill="#2867b2"
                />
              </svg>
            </a>
          </button>
        </div>
      </div>

      <div class="col-lg-3 mb-5">
        <div class="box shadow-sm">
          <img src="assets/photos/fran.jpg" width="100%" />
          <h4 class="mt-2">
            {{ "BODY.TEAM.MEMBERS.MEMBER3.NAME" | translate }}
          </h4>
          <p clas="mt-2">{{ "BODY.TEAM.MEMBERS.MEMBER3.ROLE" | translate }}</p>
          <button
            class="btn btn-primary btn-sm mt-2"
            mat-icon-button
            aria-label="LinkedIn icon-button with LinkedIn icon"
          >
            <a
              title="Fran linkedin"
              href="https://www.linkedin.com/in/rosatifrancesco/"
              target="_blank"
              rel="noopener"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                role="img"
                style="vertical-align: -0.125em"
                width="32"
                height="32"
                preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 24 24"
              >
                <path
                  d="M20.47 2H3.53a1.45 1.45 0 0 0-1.47 1.43v17.14A1.45 1.45 0 0 0 3.53 22h16.94a1.45 1.45 0 0 0 1.47-1.43V3.43A1.45 1.45 0 0 0 20.47 2zM8.09 18.74h-3v-9h3zM6.59 8.48a1.56 1.56 0 1 1 0-3.12a1.57 1.57 0 1 1 0 3.12zm12.32 10.26h-3v-4.83c0-1.21-.43-2-1.52-2A1.65 1.65 0 0 0 12.85 13a2 2 0 0 0-.1.73v5h-3v-9h3V11a3 3 0 0 1 2.71-1.5c2 0 3.45 1.29 3.45 4.06z"
                  fill="#2867b2"
                />
              </svg>
            </a>
          </button>
        </div>
      </div>
    </div>

    <!--   <div class="row mt-5">
      <div class="col-lg-3 mb-5" *ngFor="let cs of course">
        <div class="box shadow-sm">
          <img src="{{ cs.image }}" width="100%" />
          <h4 class="mt-2">{{ cs.name | translate }}</h4>
          <p clas="mt-2">{{ cs.description }}</p>
          <button class="btn btn-primary btn-sm mt-2">Watch now</button>
        </div>
      </div>
    </div> -->
  </div>
</section>
