<h2>Why to join?</h2>
<p>
  We know how complicated and challenging the Danish system can be for
  entrepreneurial refugees. Many refugees businesses fail in Denmark because
  they do not prepare, understand the Danish system and lack funding. Therefore,
  we have tailored this program for refugees in Denmark to learn everything
  there is to know before starting a business in Denmark.
</p>
<ul>
  <ol>
    Do it on your own time, anywhere
  </ol>
  <ol>
    Do it in your own language
  </ol>
  <ol>
    Get experience, network and access to funding
  </ol>
</ul>
