<mat-toolbar color="primary">
  <!--Title-->
  <mat-toolbar-row>
    <div>
      <span style="font-size: 150%; background: inherit">
        <img src="assets/photos/logo.svg" />
      </span>
    </div>
    <span class="example-spacer"></span>

    <a mat-button routerLink="/home">Home</a>
    <a mat-button routerLink="/collaborations"> Collaboration</a>
  </mat-toolbar-row>
  <!--Subtitle-->
  <mat-toolbar-row>
    <span style="font-size: 100%; background: inherit"
      >Accelerating refugees in Denmark</span
    >
    <span class="example-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
