<div class="container">
  <h2>{{ "COLLABORATION.TITLE" | translate }}</h2>
  <div class="jumbotron">
    <form class="needs-validation">
      <!--First name-->
      <div class="form-group">
        <label for="uname"
          >{{ "COLLABORATION.INPUT.FIRSTNAME" | translate }}
        </label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="collaborator.firstName"
          name="name"
          minlength="4"
        />
        <div class="valid-feedback">Valid Username.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      <!--Last name-->
      <div class="form-group">
        <label for="uname">
          {{ "COLLABORATION.INPUT.LASTNAME" | translate }}
        </label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="collaborator.lastName"
          name="name"
          minlength="4"
        />
        <div class="valid-feedback">Valid Username.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>

      <!--Email-->
      <div class="form-group">
        <label for="pwd">{{ "COLLABORATION.INPUT.EMAIL" | translate }}</label>
        <input
          type="text"
          class="form-control"
          id="pwd"
          placeholder="Enter email"
          name="pswd"
          [(ngModel)]="collaborator.email"
          required
        />
        <div class="valid-feedback">Valid Password.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>

      <!--Comment-->
      <div class="form-group">
        <label for="pwd"
          >{{ "COLLABORATION.INPUT.COMMENT" | translate }}:</label
        >
        <input
          type="text"
          class="form-control"
          id="pwd"
          placeholder="Comment ..."
          name="pswd"
          aria-label="Large"
          [(ngModel)]="collaborator.comment"
          required
        />
        <div class="valid-feedback">Valid Password.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>

      <button
        type="button"
        (click)="sendCollaboratorEmail()"
        class="btn btn-primary"
      >
        Submit
      </button>
    </form>
  </div>
</div>
