<h2>Your Journey</h2>
<div class="timeline">
  <div class="logo">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
      role="img"
      width="32"
      height="32"
      preserveAspectRatio="xMidYMid meet"
      viewBox="0 0 100 100"
    >
      <path
        d="M49.781 23.592C41.947 23.593 34.184 26.96 35 33.688l2 14.624C37.352 50.886 39.09 55 41.688 55h.185L44 80.53c.092 1.103.892 2 2 2h8c1.108 0 1.908-.897 2-2L58.127 55h.185c2.597 0 4.336-4.115 4.688-6.688l2-14.624c.523-6.734-7.384-10.098-15.219-10.096z"
        fill="currentColor"
      />
      <path
        d="M50.024 50.908l-.048.126c.016-.038.027-.077.043-.115l.005-.011z"
        fill="currentColor"
      />
      <path
        d="M34.006 69.057C19.88 71.053 10 75.828 10 82.857C10 92.325 26.508 100 50 100s40-7.675 40-17.143c0-7.029-9.879-11.804-24.004-13.8l-1.957 3.332C74.685 73.866 82 76.97 82 80.572c0 5.05-14.327 9.143-32 9.143c-17.673 0-32-4.093-32-9.143c-.001-3.59 7.266-6.691 17.945-8.174c-.645-1.114-1.294-2.226-1.94-3.341z"
        fill="currentColor"
      />
      <circle r="10.5" cy="10.5" cx="50" fill="currentColor" />
    </svg>
  </div>

  <div class="container left">
    <div class="content">
      <h2>Classes</h2>
      <p>
        Manage your classes on your own time! All our classes are online, and
        are interactive for a better learning experience
      </p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2>Co-founder</h2>
      <p>
        We will help you find a Danish co-founder who is passionate about the
        same field as you and can help maneuver through the Danish system.
      </p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h2>Accounting</h2>
      <p>
        Learn how to manage your cash flow, maintain a balance sheet,
        identifying a path to profitability and forecasting the future of your
        business.
      </p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2>Mentorship</h2>
      <p>
        We will match your team with an experienced business mentor who has
        worked in your field. They can give you advice, support and network to
        help you along.
      </p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h2>Funding</h2>
      <p>Helping you apply for soft funding and funding competitions.</p>
    </div>
  </div>
</div>
<!--  <div class="logo-down">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
      role="img"
      width="32"
      height="32"
      preserveAspectRatio="xMidYMid meet"
      viewBox="0 0 24 24"
    >
      <path
        d="M4 2v18H3v2h4v-2H6v-5h13a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H6V2H4zm4 3v2h2V5h2v2h2V5h2v2h2v2h-2v2h2v2h-2v-2h-2v2h-2v-2h-2v2H8v-2H6V9h2V7H6V5h2z"
        fill="currentColor"
      />
      <path
        d="M8 9h2v2H8zm4 0h2v2h-2zm-2-2h2v2h-2zm4 0h2v2h-2z"
        fill="currentColor"
      />
    </svg>
  </div>-->
